In [4]:
import pandas as pd
import json
import requests

In [37]:
pd.set_option('display.max_rows', 1000)

In [5]:
def get_data(school_id):
    id = school_id
    url_ex = f'http://www.ratemyprofessors.com/filter/professor/?&page=1&filter=teacherlastname_sort_s+asc&query=*%3A*&queryoption=TEACHER&queryBy=schoolId&sid={id}'
    response = requests.get(url_ex)
    data = json.loads(response.text)
    num_of_professors = data['searchResultsTotal']
    num_divided = num_of_professors / 20
    
    if isinstance(num_divided, float) == True:
        num_divided = int(num_divided + 1)
        
    professors = []    
    for i in range(1, num_divided):
        id = school_id
        url = f'http://www.ratemyprofessors.com/filter/professor/?&page={i}&filter=teacherlastname_sort_s+asc&query=*%3A*&queryoption=TEACHER&queryBy=schoolId&sid={id}'
        response = requests.get(url)
        data = json.loads(response.text)
        professors.append(data)
    new_list = []
    for i in range(len(professors)):
        prof_data = professors[i]['professors']
        new_list.append(prof_data)
    prof = []
    for i in range(len(new_list)):
        a = new_list[i]
        for j in range(len(a)):
            b = a[j]
            prof.append(b)
    
    prof_list = []
    
    for i in range(len(prof)):
            overall_rating = prof[i]['overall_rating']
            if overall_rating == 'N/A':
                continue
            else:
                school = prof[i]['institution_name']
                dept = prof[i]['tDept']
                name = prof[i]['tLname'] + ' ' + prof[i]['tFname']
                num_ratings = prof[i]['tNumRatings']
                rating = prof[i]['overall_rating']
                prof_tuple = (school, name, dept, float(rating), num_ratings)
                prof_list.append(prof_tuple)
    return prof_list

# Pulling and Parsing Public School's Data

In [30]:
#Biggest School in Each State
school_list =[4282,1256,1166,1530,352,1320,135,1003,1385,914,1309,1266,758,775,1596,724,1358,685,960,1058,1061,45,1391,1075,1087,1091,1094,1082,1101,1106,120,1112,440,1115,1117,1118,3071,1122,1270,1513,601,1257,617,1321,626,1249,1264,1231,825,1610]

50

In [ ]:
# loop pulling the data, putting it into a DF, 
# extracting school, rating(mean), rating Count(sum),
# creating a tuple and appending to a list

In [107]:
school_data=[]

def parse_data(data_list):
    for s in data_list:
        prof_list = get_data(s)
    
        df=pd.DataFrame(prof_list)
        df=df.rename(columns={0: "School", 1: "Professor", 2: "Department", 3:"Rating", 4:"Rating Count"})
        Rating = df['Rating'].mean()
        Rating_Count = df['Rating Count'].sum()
    
        school_tuple = (df['School'][0], Rating, Rating_Count)
        school_data.append(school_tuple)
    
    return school_data

In [23]:
school_data_list = parse_data(school_list)

In [70]:
school_df=pd.DataFrame(school_data_list, columns = ['School', 'Rating', 'Rating Count'])

In [71]:
school_df

                                           School    Rating  Rating Count
0                           University of Wyoming  3.726242          3091
1               University of Wisconsin - Madison  3.785536         47657
2                        West Virginia University  3.805346         23026
3                        University of Washington  3.784432         41845
4                         George Mason University  3.777748         74811
5                           University of Vermont  3.707608         17457
6                        Brigham Young University  4.026193         85179
7         Texas A&M University at College Station  3.718053         31903
8             University of Tennessee - Knoxville  3.758922         38817
9                   South Dakota State University  3.655382          4917
10                   University of South Carolina  3.803050         59665
11                     University of Rhode Island  3.698183         24351
12                  Pennsylvania State University  3.692498         65250
13                      Portland State University  3.684162         32920
14                         University of Oklahoma  3.751911         19796
15                      The Ohio State University  3.792001         65355
16                     University of North Dakota  3.644255          9539
17                North Carolina State University  3.706634         21797
18           University at Buffalo (SUNY Buffalo)  3.716457         34161
19                          University of Wyoming  3.726242          3091
20              University of Wisconsin - Madison  3.785710         47654
21                       West Virginia University  3.805346         23027
22                       University of Washington  3.784432         41845
23                        George Mason University  3.777769         74818
24                          University of Vermont  3.707608         17457
25                       Brigham Young University  4.026244         85182
26        Texas A&M University at College Station  3.718053         31903
27            University of Tennessee - Knoxville  3.758922         38817
28                  South Dakota State University  3.655382          4917
29                   University of South Carolina  3.803050         59665
30                     University of Rhode Island  3.698183         24351
31                  Pennsylvania State University  3.692498         65250
32                      Portland State University  3.684236         32922
33                         University of Oklahoma  3.751911         19796
34                      The Ohio State University  3.792001         65355
35                     University of North Dakota  3.644255          9539
36                North Carolina State University  3.706634         21797
37           University at Buffalo (SUNY Buffalo)  3.716494         34162
38                          University of Alabama  3.883831         46667
39                 University of Alaska Anchorage  3.815543         16029
40                       Arizona State University  3.683456        113095
41                         University of Arkansas  3.762967         33118
42    University of California Los Angeles (UCLA)  3.759124          4437
43               University of Colorado - Boulder  3.659779         17901
44                      University of Connecticut  3.648709         25491
45                         University of Delaware  3.697481         55942
46                  University of Central Florida  3.755060        105495
47                          University of Georgia  3.856353         43832
48                  University of Hawaii at Manoa  3.850891         26518
49                         Boise State University  3.748868         23045
50   University Of Illinois at Urbana - Champaign  3.669187         31040
51                 Indiana University Bloomington  3.727530         32709
52                             University of Iowa  3.693351         21306
53                           University of Kansas  3.739869         25562
54                         University of Kentucky  3.770909         26467
55                     Louisiana State University  3.687452         23579
56                            University of Maine  3.709472         14752
57                         University of Maryland  3.662491         18985
58                    University of Massachusetts  3.677342         41703
59                      Michigan State University  3.633107          9592
60            University of Minnesota-Twin Cities  3.698954         49263
61                   Mississippi State University  3.571484          5902
62              University of Missouri - Columbia  3.666450         17694
63                       Montana State University  3.696954          4612
64                 University of Nebraska-Lincoln  3.633749         16066
65                 University of Nevada Las Vegas  3.866901         51608
66     University of New Hampshire (all campuses)  3.692107         14968
67       Rutgers - State University of New Jersey  3.766381         71220
68                       University of New Mexico  3.769516         28481
69                          University of Wyoming  3.726242          3091
70              University of Wisconsin - Madison  3.785710         47654
71                       West Virginia University  3.805346         23027
72                       University of Washington  3.784432         41845
73                        George Mason University  3.777769         74818
74                          University of Vermont  3.707608         17457
75                       Brigham Young University  4.026244         85182
76        Texas A&M University at College Station  3.718053         31903
77            University of Tennessee - Knoxville  3.758922         38817
78                  South Dakota State University  3.655382          4917
79                   University of South Carolina  3.803050         59665
80                     University of Rhode Island  3.698183         24351
81                  Pennsylvania State University  3.692498         65250
82                      Portland State University  3.684236         32922
83                         University of Oklahoma  3.751911         19796
84                      The Ohio State University  3.792001         65355
85                     University of North Dakota  3.644255          9539
86                North Carolina State University  3.706634         21797
87           University at Buffalo (SUNY Buffalo)  3.716494         34162
88                          University of Alabama  3.883831         46666
89                 University of Alaska Anchorage  3.815543         16029
90                       Arizona State University  3.683456        113095
91                         University of Arkansas  3.762967         33120
92    University of California Los Angeles (UCLA)  3.759124          4437
93               University of Colorado - Boulder  3.659779         17901
94                      University of Connecticut  3.648709         25491
95                         University of Delaware  3.697481         55942
96                  University of Central Florida  3.755060        105495
97                          University of Georgia  3.856353         43832
98                  University of Hawaii at Manoa  3.850891         26518
99                         Boise State University  3.748868         23045
100  University Of Illinois at Urbana - Champaign  3.669187         31040
101                Indiana University Bloomington  3.727530         32709
102                            University of Iowa  3.693351         21306
103                          University of Kansas  3.739907         25563
104                        University of Kentucky  3.770909         26467
105                    Louisiana State University  3.687452         23579
106                           University of Maine  3.709472         14752
107                        University of Maryland  3.662491         18985
108                   University of Massachusetts  3.677342         41703
109                     Michigan State University  3.633107          9592
110           University of Minnesota-Twin Cities  3.698954         49263
111                  Mississippi State University  3.571484          5902
112             University of Missouri - Columbia  3.666450         17694
113                      Montana State University  3.696954          4612
114                University of Nebraska-Lincoln  3.633699         16067
115                University of Nevada Las Vegas  3.866901         51608
116    University of New Hampshire (all campuses)  3.692107         14968
117      Rutgers - State University of New Jersey  3.766381         71219
118                      University of New Mexico  3.769516         28481

In [72]:
school_df.drop_duplicates(subset = "School", inplace=True)

In [80]:
school_df = school_df.reset_index()

In [84]:
school_df = school_df.drop(columns='index')

In [90]:
school_df['Public_or_Private']='public'

In [91]:
school_df

,School,Rating,Rating Count,Public_or_Private
0,University of Wyoming,3.726242,3091,public
1,University of Wisconsin - Madison,3.785536,47657,public
2,West Virginia University,3.805346,23026,public
3,University of Washington,3.784432,41845,public
4,George Mason University,3.777748,74811,public
5,University of Vermont,3.707608,17457,public
6,Brigham Young University,4.026193,85179,public
7,Texas A&M University at College Station,3.718053,31903,public
8,University of Tennessee - Knoxville,3.758922,38817,public
9,South Dakota State University,3.655382,4917,public
10,University of South Carolina,3.803050,59665,public
11,University of Rhode Island,3.698183,24351,public
12,Pennsylvania State University,3.692498,65250,public
13,Portland State University,3.684162,32920,public
14,University of Oklahoma,3.751911,19796,public
15,The Ohio State University,3.792001,65355,public
16,University of North Dakota,3.644255,9539,public
17,North Carolina State University,3.706634,21797,public
18,University at Buffalo (SUNY Buffalo),3.716457,34161,public
19,University of Alabama,3.883831,46667,public
20,University of Alaska Anchorage,3.815543,16029,public
21,Arizona State University,3.683456,113095,public
22,University of Arkansas,3.762967,33118,public
23,University of California Los Angeles (UCLA),3.759124,4437,public
24,University of Colorado - Boulder,3.659779,17901,public
25,University of Connecticut,3.648709,25491,public
26,University of Delaware,3.697481,55942,public
27,University of Central Florida,3.755060,105495,public
28,University of Georgia,3.856353,43832,public
29,University of Hawaii at Manoa,3.850891,26518,public
30,Boise State University,3.748868,23045,public
31,University Of Illinois at Urbana - Champaign,3.669187,31040,public
32,Indiana University Bloomington,3.727530,32709,public
33,University of Iowa,3.693351,21306,public
34,University of Kansas,3.739869,25562,public
35,University of Kentucky,3.770909,26467,public
36,Louisiana State University,3.687452,23579,public
37,University of Maine,3.709472,14752,public
38,University of Maryland,3.662491,18985,public
39,University of Massachusetts,3.677342,41703,public
40,Michigan State University,3.633107,9592,public
41,University of Minnesota-Twin Cities,3.698954,49263,public
42,Mississippi State University,3.571484,5902,public
43,University of Missouri - Columbia,3.666450,17694,public
44,Montana State University,3.696954,4612,public
45,University of Nebraska-Lincoln,3.633749,16066,public
46,University of Nevada Las Vegas,3.866901,51608,public
47,University of New Hampshire (all campuses),3.692107,14968,public
48,Rutgers - State University of New Jersey,3.766381,71220,public
49,University of New Mexico,3.769516,28481,public

In [94]:
school_df.to_csv('Public_Schools_Data.csv')

# Pulling & Parsing Private School's Data

In [102]:
private_school_list = [399,953,1222,580,780,1275,137,148,1350,1339,298,774, 1072,278,355,1085,709,1576,1209,1258,799,464,400,1054,990,125,4002,33,234,1381,1147,1053,1277,1040,675,605,181,1075,87,1161,122,1139,1049,1156,1232,252,269,3965,402,83]

In [103]:
len(private_school_list)

50

In [109]:
private_school_data_list = parse_data(private_school_list)

In [111]:
private_school_df=pd.DataFrame(private_school_data_list , columns = ['School', 'Rating', 'Rating Count'])

In [113]:
private_school_df['Public_or_Private']='private'

In [118]:
private_school_df

,School,Rating,Rating Count,Public_or_Private
0,Harvard University,3.961238,1671,private
1,Stanford University,3.941399,1963,private
2,Yale University,3.828696,1075,private
3,Massachusetts Institute of Technology,3.882051,1300,private
4,Princeton University,4.076571,804,private
5,University of Pennsylvania,3.777273,1757,private
6,Brown University,3.852632,2034,private
7,California Institute of Technology,3.680392,246,private
8,Duke University,3.848800,17231,private
9,Dartmouth College,3.870866,404,private
10,Cornell University,3.799638,20510,private
11,Pomona College,4.106855,1571,private
12,University of California Berkeley,3.803881,35898,private
13,Columbia University,3.723391,2918,private
14,Georgetown University,3.859619,23324,private
15,University of Chicago,3.862701,1478,private
16,Northwestern University,3.736150,863,private
17,University of Notre Dame,3.943505,1021,private
18,Williams College,3.989474,341,private
19,University of Michigan,3.834272,51571,private
20,Rice University,3.917308,622,private
21,Johns Hopkins University,3.681298,3118,private
22,Harvey Mudd College,4.157895,996,private
23,United States Naval Academy,3.894094,8138,private
24,Swarthmore College,4.014500,1266,private
25,Bowdoin College,3.977489,2068,private
26,Vanderbilt University,3.874815,19522,private
27,Amherst College,4.083256,1787,private
28,Claremont McKenna College,3.889734,3165,private
29,University of Southern California,3.821066,31275,private
30,Washington University in St. Louis,3.809511,9587,private
31,United States Military Academy,4.146154,216,private
32,University of Virginia,3.825634,15044,private
33,Tufts University,3.843417,9660,private
34,New York University,3.807168,33791,private
35,Middlebury College,4.185556,345,private
36,Carnegie Mellon University,3.776122,3252,private
37,University of California Los Angeles (UCLA),3.757829,4436,private
38,Bates College,3.871138,2016,private
39,Wesleyan University,3.923820,3602,private
40,Boston College,3.921698,1058,private
41,Washington and Lee University,3.923315,3970,private
42,United States Air Force Academy,4.405556,365,private
43,Wellesley College,4.119377,1560,private
44,University of North Carolina at Chapel Hill,3.874750,23841,private
45,Colgate University,3.885000,6034,private
46,College of William and Mary,3.849329,20617,private
47,Davidson College,3.901049,3654,private
48,Haverford College,4.006081,653,private
49,Barnard College,3.574074,68,private

In [117]:
private_school_df.to_csv('Private_Schools_Data.csv')

In [ ]:
######################